[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=logi_api_server
X-Python-2-Compatible=false
X-Krita-Manual=
Name=Logi API Server
Comment=Plugin to server the Krita Logi Plugin